/* src/index.css */

/* Dunkles Hintergrunddesign mit Hintergrundbild */
body {
  background: url('./assets/Screenshot\ 2024-05-21\ 152643.png') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

/* Header-Styling */
header {
  background-color: rgba(51, 51, 51, 0.8);
}

/* Navigationselemente */
nav ul li a {
  color: #ffffff;
}

/* Abschnittsstyling für zusätzliche Abschnitte */
section {
  background-color: rgba(41, 41, 41, 0.8);
  color: #ffffff;
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Link-Styling */
a {
  color: #00aaff;
}

/* Zusätzliches Styling für den Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #ffffff;
}
